{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h1 class="mb-4 text-primary">Educator Dashboard</h1>
                    <h2 class="mb-3 text-secondary">Your Subjects:</h2>
                    <ul class="list-group mb-4">
                        {% for subject in subjects %}
                        <li class="list-group-item">{{ subject.name }}</li>
                        {% endfor %}
                    </ul>
                    <a href="{{ url_for('add_question') }}" class="btn btn-primary">Add Question</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}